.details_container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    align-self: center;
    margin-bottom: 90px;
}

.details_container img{
    flex: 0 0 50%;
    max-width: 50%;
}
.details{
    flex: 0 0 50%;
    padding: 0 40px;
}