.main-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #ffff;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}
.main-container img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #ffff;
    margin-top: -60px;
}
.main-container p{
    margin:0 10px 10px 10px;
    text-align: center;
}
.info{
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: #000;
    background-image: linear-gradient(#ffff,rgb(177, 255, 125), rgb(137, 253, 60));
    width: 100%;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #c4c4c4;
}
.main-container h2{
    margin: 0;
    color: #ddad49;
}