nav{
    display: flex;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2px 0 0 0;
}
nav ul li{
    list-style: none;
    margin: 0 35px;
}
nav ul li p{
    text-decoration: none;
    color: #ddad49;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
nav ul li p:hover{
    color: #354a67;
}
