.Loader {
  height: 30px;
  width: 30px;
  margin: auto;
  border: 2px solid #585858;
  border-top: 2px solid #cfcfcf;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h4 {
  width: 90%;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
.img-nofound {
  max-width: 80vw;
  margin: auto;
}
.product-nofound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
