.counter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: whitesmoke;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
}
.counter-container p{
    text-align: center;
    margin: auto;
    color: #354a67;
}
.counter-container button{
    border: 1px solid #354a67;
    margin: 0;
    padding: 0px 7px;
    cursor: pointer;
    font-size: 18px;
}
.counter-container button:nth-child(1){
    background-color: #354a67;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #f4f4f4;
}
.counter-container button:nth-child(3){
    background-color: #354a67;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #f4f4f4;
}
.onAdd{
    width: 100%;
    color: #ddad49;
    border:0;
    margin: 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}